@model IList<DevCenterGalley.Common.Models.Product>
@{
    ViewData["Title"] = "Products";
}
<ol class="breadcrumb" >
    <li class="breadcrumb-item active"><a href="#">Products</a></li>
</ol>
<div class="text-left" style="margin-bottom:6px">
    <input id="id-forceSync" productId="" submissionId="" type="button" class="syncButton" onclick="forceSync()" value="Sync Products" />
</div>
<div class="text-left">
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <img class="appIcon" src="@item.LogoUri"/>
                <a class="appTitle" asp-action="Submissions" asp-route-productId="@item.BigId">@item.Name</a>
                <input type="hidden" value="@item.BigId" />
            </li>
        }
    </ul>
</div>

<style type="text/css">
    .appIcon{
        height: 24px;
        width: 24px;
        display: inline-block;
        color: transparent;
    }
    .appTitle{
        display: inline-block;
        color: #000;
        padding: 10px 16px;
        font-size:15px;
        font-family:'Segoe UI'
    }
</style>